.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2014/04/02/14/11/male-306408_960_720.png');
    background-size: cover;
  }
  